[submodule "botbuiltins"]
	path = botbuiltins
	url = https://github.com/ProgramFOX/SE-Chatbot-Builtins.git
[submodule "ChatExchange"]
	path = ChatExchange
	url = https://github.com/Manishearth/ChatExchange.git
