[submodule "botbuiltins"]
	path = botbuiltins
	url = https://github.com/ProgramFOX/SE-Chatbot-Builtins.git
[submodule "ChatExchange6"]
	path = ChatExchange6
	url = https://github.com/ByteCommander/ChatExchange6.git
